<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Lin Zhao
    Email: linzhao@uri.edu
    Year: 2023

    Copyright (C) 2022-2023 Smart Ocean Systems Laboratory
-->
<launch>

  <arg name="robot_name" default="alpha_rise"/>
  
  <arg name="comms_hardware" default="false"/>

  <arg name="is_sim" default="false"/>

  <!--Launch Sensors and drivers-->
  <include file="$(find alpha_rise_bringup)/launch/bringup_sensors.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!--Launch Thruster-->
  <include file="$(find alpha_rise_bringup)/launch/bringup_thrusters.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!--Launch URDF and robot_localization-->
  <include file="$(find alpha_rise_bringup)/launch/bringup_localization.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="is_sim" value="$(arg is_sim)"/>
  </include>

  <!--Launch Helm and Control-->
  <include file="$(find alpha_rise_bringup)/launch/bringup_mvp.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
      <arg name="is_sim" value="$(arg is_sim)"/>
  </include>

  <!-- GPIO Manager Node-->
  <include file="$(find alpha_rise_bringup)/launch/bringup_power_switch.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up Comms -->
  <!-- <include file="$(find alpha_rise_bringup)/launch/include/acomms.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include> -->


</launch>